{% extends "company/base2.html" %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Application List</h1>
    <br>
    <!-- DataTales Example -->
    
    {% for job in jobs %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary">{{forloop.counter}}: {{job.JobTitle}}</h4>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Address</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for app in job.application_set.all %}
                        <tr>
                            <td>{{app.Candidateid.firstname}} {{app.Candidateid.lastname}}</td>
                            <td>{{app.Candidateid.userid.email}}</td>
                            <td>{{app.Candidateid.contact}}</td>
                            <td>{{app.Candidateid.dob}}</td>
                            <td>{{app.Candidateid.gender}}</td>
                            <td>{{app.Candidateid.address}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
<!-- /.container-fluid -->
{% endblock %}
